<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/450f4277-1e59-4d41-ad98-7bed6ae4bacf/resourceGroups/StudentPortalTutorial_rg/providers/Microsoft.Web/sites/studentportal-mvc</ResourceId>
    <ResourceGroup>StudentPortalTutorial_rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://studentportal-mvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>studentportal-mvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>studentportal-mvc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$studentportal-mvc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RegistrationAndLogin.Models.StudentContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:studentportal-server.database.windows.net,1433;Initial Catalog=StduntPortaldatabase;User ID=adel;Password=Hassan2233" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RegistrationAndLogin.Models.StudentContext, RegistrationAndLogin" MigrationConfiguration="RegistrationAndLogin.Migrations.Configuration, RegistrationAndLogin" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RegistrationAndLogin.Models.StudentContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:studentportal-server.database.windows.net,1433;Initial Catalog=StduntPortaldatabase;User ID=adel;Password=Hassan2233</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="RegistrationAndLogin.Models.StudentContext" />
  </ItemGroup>
</Project>